 @media (max-width: 3000px) {
     #blo {
         width: 327px;
         height: 155px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 451px 0px 0px 76px;
         text-align: center;
     }
 }








 @media (max-width: 1920px) {
     #blo {
         width: 327px;
         height: 152px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 409px 0px 0px 71px;
         text-align: center;
     }
 }


 @media (max-width: 1440px) {
    #blo {
        width: 328px;
        height: 154px;
        background-color: #050227;
        color: white;
        position: absolute;
        margin: 453px 0px 0px 76px;
        text-align: center;
    }
}



 @media (max-width: 1280px) {
     #blo {
         width: 328px;
         height: 139px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 445px 0px 0px 76px;
         text-align: center;
     }
 }

 @media (max-width: 1121px) {
     #blo {
         width: 328px;
         height: 139px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 445px 0px 0px 76px;
         text-align: center;
     }


 }


 @media (max-width: 768px) {

     #blo {
         width: 333px;
         height: 162px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 442px 0px 0px 76px;
         text-align: center;
     }
 }


 @media (max-width: 576px) {

     #blo {
         width: 335px;
         height: 156px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 414px 0px 0px 74px;
         text-align: center;
     }
 }



 @media (max-width: 420px) {

     #blo {
         width: 335px;
         height: 176px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 414px 0px 0px 27px;
         text-align: center;
     }
 }


 @media (max-width: 360px) {

     iframe {
         width: 300px;
     }

     #blo {
         width: 300px;
         height: 176px;
         background-color: #050227;
         color: white;
         position: absolute;
         margin: 392px 0px 0px 0px;
         text-align: center;
     }
 }

 @media (max-width: 320px) {

    iframe {
        width: 300px;
    }

    #blo {
        width: 300px;
        height: 176px;
        background-color: #050227;
        color: white;
        position: absolute;
        margin: 447px 0px 0px 0px;
        text-align: center;
    }
}